<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
	<add key="EnableGraylog" value="true"/>
	<add key="GraylogHost" value="10.149.4.71"/>
	<add key="GraylogPort" value="12206"/>
    <add key="DriverDataPath" value="C:\Users\Dennis\Desktop\Driver"/>
    <add key="FamilyDataPath" value="C:\Users\Dennis\Desktop\Family"/>
    <add key="CheckInterval" value="60000"/> <!--In ms-->
  </appSettings>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>